<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="">
    <%= form.label :tag %>
    <%= form.text_field :tag, class: "form-control" %>
  </div>

  <div class="">
    <%= form.label :item_name %>
    <%= form.text_field :item_name, class: "form-control"  %>
  </div>

  <div class="">
    <%= form.label :price_tag %>
    <%= form.text_field :price_tag, class: "form-control"  %>
  </div>

  <div class="">
    <%= form.label :badge %>
    <%= form.text_field :badge, class: "form-control"  %>
  </div>

  <div class="">
    <%= form.label :image %>
    <%= form.text_area :image, class: "form-control"  %>
  </div>

  <div class="">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>

  <div class="">
    <%= form.label :additional_information %>
    <%= form.text_area :additional_information, class: "form-control"  %>
  </div>

  <div class="">
    <%= form.label :inner_tag_seller %>
    <%= form.text_field :inner_tag_seller, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit 'subbmit', :class => 'btn btn-indigo' %>
  </div>
</div>
<% end %>
