<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @product.tag %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @product.item_name %>
</p>

<p>
  <strong>Price tag:</strong>
  <%= @product.price_tag %>
</p>

<p>
  <strong>Badge:</strong>
  <%= @product.badge %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Additional information:</strong>
  <%= @product.additional_information %>
</p>

<p>
  <strong>Inner tag seller:</strong>
  <%= @product.inner_tag_seller %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: 'btn-sm btn-warning' %> |
<%= link_to 'Back', products_path, class: 'btn-sm btn-warning' %>
