<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Random</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <!--Main Navigation-->
  <%= render partial:  'layouts/navbar'%>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-4 pt-5">
        <%= yield %>
        <div id="loader"></div>
    </main>
        <%= render partial: 'layouts/footer' %>

    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</body>
<script type="text/javascript">
    $('#loader')
    .hide()  // Hide it initially
    .ajaxStart(function() {
        $(this).show();
    })
    .ajaxStop(function() {
        $(this).hide();
    })
;
</script>

</html>